.nav {
    width: 100vw;
    height: 4%;
    background: #1f2428;
    font-size: 14px;
    border-bottom: 1px solid #191d20;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* ------ logo and toolbar -------- */

.nav__navItems {
    width: 25vw;
    display: flex;
    justify-content: space-around;
}
.nav__navItems > * {
    cursor: pointer;
}
.navItems__logo {
    width: 1.2rem;
}

@media (max-width: 950px) {
    .nav__navItems {
        width: 1.5rem;
    }
    .nav__navItems > :not(:first-child) {
        display: none;
    }
}

/* ----- header ------------ */

@media (max-width: 450px){
    .nav__headerText{
        font-size: 12px;
    }
}

/* ----- control buttons --------- */

.nav__ctrlbtn {
    width: 5rem;
    display: flex;
    justify-content: space-around;
}
.nav__ctrlbtn > span {
    width: 15px;
    height: 15px;
    border-radius: 50%;
}
.ctrlbtn__yellowbutton {
    background: #f1fa8c;
}
.ctrlbtn__greenbutton {
    background: #50fa7b;
}
.ctrlbtn__redbutton {
    background: #f55;
}
