.footer {
    height: 3%;
    background: #3d3b3b;
    display: flex;
    justify-content: space-between;
}

.footer img{
    height: 17px;
}

/* ******* Left Side ******* */
.footer__left {
    width: 10rem;
    display: flex;
    justify-content: space-around;
}
.footer__left a {
    color: white;
    text-decoration: none;
}

.footer__left a:hover {
    background: #43a6e0;
}

.footer__left > div,
.footer__left > div > a {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__left > div > *,
.footer__left > div > a > * {
    padding: 0 2px;
}


/* ******* Right side ******* */
.footer__right {
    width: 80%;
    display: flex;
    justify-content: right;
}

.footer__right > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__right > div > * {
    padding: 0 4px;
}

@media screen and (max-width: 500px) {
    .footer__right > div{
        display: none;
    }
    .footer__right > div:nth-child(3){
        display: block;
    }
}
